header {
	@include wh;
	@include gridColRow(c1, c2, r1, r2);
	background: #F9F9F9;
	display: grid;
	grid-template-columns:
		[c1] 250px [c2];
	grid-template-rows:
		[r1] 85px [r2] 55px [r3] 55px
		[r4] 1fr [r5];

	div#logo {
		@include wh;
		@include gridColRow(c1, c2, r1, r2);
		@include flex;
		font-size: 3.5rem;
		font-family: 'roboto-black';
		color: #33b5e5;
	}

	div#social-icons {
		@include wh;
		@include gridColRow(c1, c2, r2, r3);
		ul {
			@include wh;
			@include flex;
			li {
				margin: 0 0.5rem;
			}
		}
	}

	input#search {
		@include wh;
		@include gridColRow(c1, c2, r3, r4);
		padding-left: 2rem;
		background: #fafafa;
		border-top: 2px solid #eeeeee;
		border-bottom: 2px solid #eeeeee;
		border-right: 0;
		border-left: 0;
		&::placeholder {
			font-size: 1rem;
			color: #bdbdbd;
		}
	}

	nav#header-nav {
		@include wh;
		@include gridColRow(c1, c2, r4, r5);
		padding-top: 1rem;
		ul {
			@include wh;
			display: grid;
			grid-template-columns:
				[c1] 1fr [c2];
			grid-template-rows:
			  repeat(14, 45px);

			a {
				@include wh;
				text-decoration: none;
				&:hover {
					background: #33b5e5;
					li {
						color: #fdfdfd;
					}
				}

				li {
					@include wh;
					color: #333;
					display: grid;
					grid-template-columns:
						[c1] 1rem [c2] 45px [c3] 1fr
						[c4] 45px [c5] 1rem [c6];
					grid-template-rows:
						[r1] 1fr [r2];

					i.nav-icons {
						@include gridColRow(c2, c3, r1, r2);
						@include gridItemPosition;
					}

					p {
						@include gridColRow(c3, c4, r1, r2);
						@include gridItemPosition(start, center);
						font-size: 1rem;
					}

					i.point-down {
						@include gridColRow(c4, c5, r1, r2);
						@include gridItemPosition;
					}
				}
			}
		}
	}
}
