* {
	box-sizing: border-box;
}

body {
	@include wh(normal, 100vw, 100vh);
	font-family: 'roboto-bold';
	display: grid;
	grid-template-columns: [c1] 250px [c2] 1fr [c3];
	grid-template-rows: [r1] 1fr [r2];
}

figure,
h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
	margin: 0;
	padding: 0;
}

li,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
